body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
      "header header"
      "nav nav"
      "section aside"
      "article aside"
      "footer footer"; 
    grid-template-rows: auto auto auto 1fr auto;
    font-family: sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    grid-area: header;
    background: lightblue;
    padding: 1em;
    text-align: center;
}

nav {
    grid-area: nav;
    background: lightgray;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

section {
    grid-area: section;
    background: lavender;
    padding: 1em;
}

section img {
    width: auto;
    height: auto;
    display: block;
}

article {
    grid-area: article;
    background: ivory;
    padding: 1em;
}

aside {
    grid-area: aside;
    background: gainsboro;
    padding: 1em;
}

footer {
    grid-area: footer;
    background: lightblue;
    padding: 1em;
    text-align: center;
}
